@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Indique Ai</h1>
    <p class="lead">Bem vindo ao Indique Ai.</p>
    <a href="@Url.Action("Login","Parceiro")" class="btn btn-primary">Entrar </a>
</div>

